@model TradeBusiness.PurchaseInvoiceFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseInvoiceFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceFile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceFileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
