@model IEnumerable<TradeBusiness.ProductStock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductVat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommisionRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBuyRetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBuyWholeSalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductWholeSalePrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PriceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Measurement.MeasurementName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase.SupplierInvoiceNumber)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductVat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommisionRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductBuyRetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductBuyWholeSalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductWholeSalePrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PriceType.PriceTypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StockBalance)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.ProductExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Measurement.MeasurementName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase.SupplierInvoiceNumber)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductStockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductStockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductStockId })
        </td>
    </tr>
}

</table>
