@model IEnumerable<TradeBusiness.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePicture)
        </th>
        @*<th>
                  @Html.DisplayNameFor(model => model.IsActive)
              </th>
            <th>
                      @Html.DisplayNameFor(model => model.CreatedDate)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.UpdatedDate)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.SortedBy)
                  </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.UserInfo.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo1.Username)
            </th>*@
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePicture)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortedBy)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation.DesignationName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserInfo.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserInfo1.Username)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>
            <td></td>
        </tr>
    }

</table>
