@model IEnumerable<TradeBusiness.Designation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesignationName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserInfo.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo1.Username)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortedBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserInfo.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInfo1.Username)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesignationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesignationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesignationId })
        </td>
    </tr>
}

</table>
